<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="home.html">Home</a></li>
		        	<li><a href="/neurobullshit">Neurobullshit</a></li>
	        		<li><a href="https://www.facebook.com/groups/odear/">Oh Dear!</a></li>
	        		<li><a href="http://junctura.wordpress.com/angels/">Ssshhh</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:anastasia.osoianu@gmail.com">email</a></li>
	        		<li><a href="https://github.com/aniv0s">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
